@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --fonte-leojs: 'Source Sans Pro', sans-serif;
}

footer {
    /* Para não ficar vazio */
    position: inherit;
}

footer > section.section-info-adicional {
    margin-top: 75px;
    width: 100%;
}

footer > section.section-info-adicional > * {
    margin: auto;
    text-align: center;
}

footer > section.section-info-adicional > h1 {
    /* visibility: hidden;
    height: 0; */
    color: var(--cor1);
    font: normal 300 1.5em var(--fonte-texto);
    font-variant: small-caps;
    letter-spacing: .1em;
    background-color: var(--cor5);
    border: 2px solid var(--cor5);
    padding: 10px;
    margin-bottom: 25px;
}

footer > section.section-info-adicional > div > h2 {
    color: var(--cor2);
    font: normal 300 1.5em var(--fonte-texto);
    padding: 10px;
    border-top: 2px solid var(--cor5);
    border-bottom: 2px solid var(--cor5);
    background-color: var(--cor5);
}

/* As 5 divs da section com os h2 */
footer > section.section-info-adicional > div {
    color: white;
    font: normal 500 .8em var(--fonte-texto);
    line-height: 3em;
}

/* Uma div dentro de cada uma das 5 divs da section, o que exclui os h2 */
footer > section.section-info-adicional > div > div { 
    width: 100%;
    background-color: rgba(28, 28, 28, 0.8);
    padding: 15px 0 15px;
    box-sizing: border-box;
}

/* Coloca borda esquerda na div da 1ª div da section */
#div-flutuante-1 {
    border-left: 2px solid var(--cor5);
}

/* Coloca borda direita na div da 4ª div da section */
#div-flutuante-n {
    border-right: 2px solid var(--cor5);
}

footer > section.section-info-adicional > div a {
    display: inline-block;
    width: 100%;
}

footer > section.section-info-adicional > div.div-links-finais {
    float: left;
    width: 25%;
    margin-bottom: 25px;
}

#div-newsletter {
    clear: both;
    width: 100%;
    margin-bottom: 75px;
}

#div-newsletter > div > p, #div-newsletter > div > form {
    width: 50%;
    margin: auto;
}

footer > section.section-creditos {
    color: white;
    text-align: center;
    background-color: var(--cor5);
    padding: 20px;
    border: 2px solid var(--cor5);
    margin-bottom: 75px;
}

footer > section.section-creditos > p {
    display: block;
    margin: auto;
    font-family: var(--fonte-texto);
    font-size: .8em;
    line-height: 2em;
}

span.dev-logo-caixa {
    display: inline-block;
    font-size: 1.2em;
    line-height: 1em;
    border: 1px solid white;
}

span.dev-logo-texto {
    font: normal 600 1em var(--fonte-leojs);
    padding: 0 5px;
}

span.leo {
    color: white;
    background-color: var(--cor5);
}

span.js {
    color: var(--cor5);
    background-color: #EFD81D;
}
